@charset "UTF-8";
/* CSS Document */

#cont {
    padding: 10px;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
}
#t31 h4 img {
    margin-left: 10px;
    float: right;
}
#t1 {
    background-color: #9EA8D6;
    padding: 10px;
}
#t35 h2 img {
    float: right;
    padding-left: 10px;
}
#t36 h2 img {
    margin-left: 10px;
    float: right;
}
#t37 h2 img {
    float: right;
    padding-left: 10px;
}
#t2 p img {
    float: right;
    padding-left: 10px;
}
#t4 p img {
    float: right;
    padding-left: 10px;
}
#t4 p img {
    padding-left: 10px;
    float: right;
}
#t6 p img {
    float: right;
    padding-left: 10px;
}
#t9 h4 img {
    float: right;
    padding-left: 10px;
}
#t10 h4 img {
    float: right;
    padding-left: 10px;
}
#t11 h4 img {
    float: right;
    margin-left: 10px;
}
#t13 h3 img {
    float: right;
    padding-left: 10px;
}
#t14 h3 img {
    float: right;
    padding-left: 10px;
}
#t15 h3 img {
    padding-left: 10px;
    float: right;
}
#t18 h3 img {
    float: right;
    padding-left: 10px;
}
#t19 h3 img {
    float: right;
    padding-left: 10px;
}
#t20 h3 img {
    padding-left: 10px;
    float: right;
}
#t22 h4 img {
    margin-left: 10px;
    float: right;
}
#t24 h2 img {
    float: right;
    padding-left: 10px;
}
#t26 h3 img {
    padding-left: 10px;
    float: right;
}
#t27 h3 img {
    float: right;
    padding-left: 10px;
}
#t29 h4 img {
    padding-left: 10px;
    float: right;
}
#t30 h4 img {
    float: right;
    padding-left: 10px;
}
